@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    /* border: 1px solid black; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;    
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 35% 0px 29%;
   width: 90%;  
   background-color: white;
   padding: 2rem 1rem;
   border-radius: 18px;
}
    
 .top_svg{
     margin: 0px auto;
     border: 1px solid black;
         width:80%;
         height: 96%;
        position: relative;
        top: -33%;
        background-image: url("./images/illustration-woman-online-mobile.svg");
        background-size:100%;
        background-repeat: no-repeat; 
        /* background-position: center;  */
}
    .shadow{
        border: 1px solid orange;
        width: 240px;
        height: 210px;
        /* position: absolute;
        top:10%;
        left: 19%; */
        margin-bottom: 4rem;
        background-image: url("./images/bg-pattern-mobile.svg");
        background-repeat: no-repeat; 
        background-position: center; 
    }
.title{
    z-index: 999;
    margin: 2rem;
    text-transform:uppercase;
    text-align: center;
    font-family:Kumbh Sans;
   font-size:2rem;
   font-weight: 900;
}
.container .faq{
    text-align: left;
   display: flex;
   font-family:Kumbh Sans;
   font-size:0.9rem;
   font-weight:400;
    justify-content: space-between;

}
.active .faq{
    text-align: left;
   display: flex;
   font-family:Kumbh Sans;
   font-size:0.9rem;
   font-weight:800;
    justify-content: space-between;
}
 .container .answer{
   margin: 0.7rem auto;
   overflow: hidden;
    height: 0px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    max-width:95%;
}  
.active .answer{ 
   border-bottom: 1px solid hsl(240, 5%, 91%);
   max-width:95%;
    font-family:Kumbh Sans;
   font-size:0.9rem;
   font-weight:400;
   margin: 0.7rem auto;
   color: hsl(238, 29%, 16%);
   max-height: 100px;
   
}


.container .svg svg{
    /* border: 1px solid orange; */
    transition: transform .5s ease;
    transform: rotate(0deg);
 }
.active .svg svg{
    /* border: 1px solid orange; */
   transform: rotate(180deg);
   transition: transform .5s ease;
}
@media only screen and (min-width: 1090px) {
    body{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        overflow: hidden;
      background-color: white;
      display: flex;
      flex-direction: row;
      height:73%;
      width: 63%;
    }


      
 .top_svg{
    width: 410px;
    height: 380px;
   background-image: url("./images/illustration-woman-online-desktop.svg");
   background-repeat: no-repeat; 
   background-size: 95% 85%;
   background-position: center; 
}
.shadow{
   width: 240px;
   height: 210px;
   margin-bottom: 4rem;
   background-image: url("./images/bg-pattern-desktop.svg");
   background-repeat: no-repeat; 
   background-position: center; 
}
    .svg_box{
     
        width: 50%;
        position: relative;
    }

    .svg_box .top_svg{
        position: absolute;
        top: 0px;
       left: -20%;
    }
    .shadow{
        position: absolute;
        top: -86%;
         left: -139%;
    }

    .body_container{
   
        width: 50%;
    }

    .title{
        position: relative;
        left: -8%;
        text-align: left;
    }

.container{
   margin: 5% 0px;
}
  }
  
 
  @media only screen and (max-width: 1090px) and (min-width: 780px) {    
    body{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        overflow: hidden;
      background-color: cyan;
      display: flex;
      flex-direction: row;
      height:40%vw;
      width: 83%;
    }


      
 .top_svg{
    width: 410px;
    height: 380px;
   background-image: url("./images/illustration-woman-online-desktop.svg");
   background-repeat: no-repeat; 
   background-size: 85% 75%;
   background-position: 0%; 
}
.shadow{
   width: 240px;
   height: 210px;
   margin-bottom: 4rem;
   background-image: url("./images/bg-pattern-desktop.svg");
   background-repeat: no-repeat; 
   background-position: center; 
}
    .svg_box{
     
        width: 50%;
        position: relative;
    }

    .svg_box .top_svg{
        position: absolute;
        top: 0px;
       left: -20%;
    }
    .shadow{
        position: absolute;
        top: -86%;
         left: -139%;
    }

    .body_container{
   
        width: 50%;
    }

    .title{
        position: relative;
        left: -8%;
        text-align: left;
    }

.container{
   margin: 5% 0px;
}
  }
  
  
  @media only screen and (max-width: 760px) and (min-width: 520px) {    
    body{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        overflow: hidden;
      background-color: cyan;
      display: flex;
      flex-direction: row;
      height:40%vw;
      width: 83%;
    }
      
 .top_svg{
   
     margin: 0px auto;
    border: 1px solid black;
    width: 410px;
    height: 380px;
   background-image: url("./images/illustration-woman-online-desktop.svg");
   background-repeat: no-repeat; 
   background-size: 85% 75%;
   background-position: 0%; 
}
.shadow{
   width: 240px;
   height: 210px;
   margin-bottom: 4rem;
   background-image: url("./images/bg-pattern-desktop.svg");
   background-repeat: no-repeat; 
   background-position: center; 
}
    
  }
  